.header {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0 1.5px 6px 0 rgb(0 0 0 / 20%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    z-index: 99;
}



.header > a {
    padding: 0.3em 0;
    /*color: red;*/
    font-weight: bold;
    font-size: 2em;
    border: black solid 1px;
    text-align: center;
    color: black;
}


.header > a:hover {
    text-decoration: none;
    color: black;
    background-color: rgba(153, 255, 0, 0.32);
}